*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
    font-family: 'Roboto Slab', serif;
}
.container{
    width: 400px;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 25px 25px 30px rgba(0,0,0,0.15);
    color: #111111;
}
label,
input,
#error-msg{
    font-family:inherit;
}
label{
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: larger;
}
.Task{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}
input{
    width: 85%;
    border: none;
    border-bottom: 4px solid #4e9c81;
    border-radius: 8px;
    font-size: larger;
}

#Icon{
    float: right;
    height: 50px;
    position: relative;
    font-size: 25px;
    padding-top: 10px;
}
#Msg{
    color: #ff2851;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}
