*,
*::before,
*::after{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #0F2027;  /* fallback for old browsers */
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.clock{
    width: 60%;
    max-width: 421px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 30px;
    background-color: transparent;
    color: white;
    border: 4px solid gold;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 3px;
}
.clock div{
    position: relative;
    font-size: 38px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    justify-content: center;
}
.clock span{
    position: relative;
    font-size: 30px;
    font-weight: 700;
    font-family: inherit;
    align-items: center;
    justify-content: center;
}
